<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <title>{{ project_name }} - {{ project_status }}</title>
  </head>
<body>

<div style="text-align: center;">
  <h1>{{ project_name }} &mdash; {{ project_status }}</h1>

  <p>Le site {{ project_name }} est actuellement {{ project_status }}.</p>

  <p>Revenez dans un moment, ou contactez l'<a href="{{ project_admin_url }}">administrateur</a>.</p>

  <img alt="PFITAXEL" style="width: 200px; height: 200px;" src="images/PFITAXEL_Logo_vector_bold.png"/>
</div>

</body>
</html>
